*{
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Bree Serif', serif;
  }
.navbar{
    position: sticky;
    top: 0px;
    z-index: 20;
    /* opacity: 0.9; */
  }
.navbar ul li a:hover{
  transition: all 0.5s ease-in-out;
  transform: scale(1.15);  
  }
  